body {
   display: table; /*Permite asignar un comportamiento de tabla a los elementos que haya dentro = <table>*/
}
header {
   display: table-header-group;
}
main{
   display: table-row-group;
}
div, aside {
   display: table-cell;
   text-align: center;
}
section {
   display: table-row;
}
footer {
   display: table-footer-group;
}

