$white: white;
$border-color: #1fb3ed;
$color-btn-hover: rgba(31,179,237,1);
$red: red;
$grey: grey;
$font-size-h2: 24px;
$black: rgba(255, 255, 255, 0);
$green:  rgb(31, 237, 134);
$light-blue:  rgb(122, 219, 236);
$padding-size: 10px;