@import "vars";
@import "rule";
@import "header";
@import "main";


body {
   font-family: Calibri, Arial, Helvetica, sans-serif;
}

main {
   padding-top:  50px;
}
h2 {
   color: $red;
   font-size: $font-size-h2;
   text-align: center;
   margin: 0;
   padding-bottom: 15px;
}
p {
   color: $grey;
   font-size: 16px;
}
/*colocado un articulo a la izquierda y otro a la derecha*/
.articuloIzquierdo {
   float: left;
   width: 50%;
}
.articuloDerecho {
   display: inline-block;
   width: 50%;
}
.articleContainer {
   padding: 40px 10px;
}
/*colocados inputs y labels de form uno encima del otro -en fila*/
form {
   border-radius: 5px;
   border:2px  solid $border-color;
   padding:  $padding-size;
   width: 300px;
   margin: 0 auto;
}

label, button, input {
   @extend %base-prop;
}
input {
   padding:  $padding-size;
 }
 main button {
   margin: 15px 0;
 }

.btn {
   margin: 20px auto;
   width: 80px;
   padding:  $padding-size;
   color: $white;
   background: linear-gradient( 109.6deg, $green 11.2%, $light-blue 91.1% );
   border-radius: 5px;
   border: 2px solid $black;
   &:hover{
      border: 2px solid $color-btn-hover;
      color: $black;
      background: none;
   }
}
